body {
  margin: 0;
  padding: 0;
}

.bg-color {
	background-color: #9CCAEC;
}

#splash {
	color: white;
	height: 100vh;
  	width: 100%;
  	display: flex;
  	justify-content: center;
  	align-items: center;
}

#logo {
	color: white;
	height: 10vh;
  	display: flex;
  	padding-top: 50%;
  	justify-content: center;
  	align-items: center;
  	width: 100%;
}

.user {
	border: 1px solid black;
	border-radius: 50px;
	height: 10vh;
}

.log-in {
	height: 100vh;
}


.height {
	height: 10vh;
}

input[type='file'] {
	opacity: 0;
	color: transparent;    
}

hr {
	height: 1px;
	color: #9CCAEC;
	background-color: #9CCAEC;
	margin: 2%;
}

.mt-5 {
	margin-top: 5%;
}

.mt-30 {
	margin-top: 30%;
}

.mt-8 {
	margin-top: 8% !important;
}

.ml-5 {
	margin-left: 5;
}

.glyphicon.glyphicon-picture {
    font-size: 28px;
}

#post {
	background-color: #FBE5F1; 
	border: 1px solid #E52F8D;
	border-radius: 5px;
	margin-top: 1%;
	padding-top: 1%;
}

/*made navigation static
.fast-menu{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
	background-color: white;
}*/

.post-style {
  border-top: 5px solid #ccced1;
  padding-right: 10px;
}

#file {
  width: 50px;
}

.button-bar {
  border: none;
  background-color: transparent;
}

.like-color {
	color: red;
}

#uploader {
	-webkit-appearance: none;
	appearance: none;
	width: 50%;
	
}